*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #e0d1a1;
    overflow-x: hidden;
}

.top{
    /* background-color: yellow; */
    height: 60px;
    display: flex;
    align-items: center;
}

.top img{
    margin-left: 40px;
}

.menu-header{
    /* background-color: black; */
    display: inline-block;
    margin-left: 60%;
}


.menu-itens a{
    text-align: center;
    margin-right: 50px;
    color: rgb(63, 63, 63);
    text-decoration: none;
    font-size: 20px;

}

a:hover{
    border-bottom: 1px solid #aa3c3c;
    transition: 0.4s ease-in-out;
}

.main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
}

.text-info-shoes{
    /* background: greenyellow; */
    margin-top: 10%;
    width: 40%;
    height: 230px;
}
.text-info-shoes h3 {
    font-size: 50px;
    text-align:center;
}


.text-info-shoes h3 > span{
    color: #b94a4a;
}


.shoes-image img{
    width: 900px;
    /* background-color: red; */
    margin-top: 90px;
}

.button{
    display: flex;
    position: absolute;
    /* background-color: #3cdb1c5b; */
    width: 100%;
    height: 160px;
}

.clique{
    width: 50px;
    height: 50px;
    margin: auto;
}

input[type="button"]{
    border-radius: 10px;
    border: 0;
    background-color: #aa3c3cea;
    color: #fff;
    font-size: 20px;
    padding: 16px 27px;
    cursor: pointer;
}

input[type="button"]:hover{
    background-color: #c43a3a;
    transform: scale(1.1);
    transition: all 0.5s;
}

.page{
    bottom: 0;
    z-index: -1;
    margin-top: 230px;
    /* position: relative; */
    background-image: url("/projetos/landingpage_nike/image/DIVIDER1.png");
    width: 100%;
    height: 35px;
}

.img-about{
    margin-top: 4%;
    margin-left: 40%;
    z-index: -6;
}

.img-about img{
    width: 400px;
}

.text-area{
    /* background-color: red; */
    margin-top: 40px;
    height: 100%;
    display: flex;
    justify-content: center;
}


.text-area > p{
    color: #000;
    font-size: 35px;
    text-align: center;
}

.text-area > p > span{
    color: #aa3c3c;
}

.container-cards{
    display: grid;
    margin: 40px 0 40px 0;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    height: 30vh;
    /* background-color: red; */
}

.card-one{
    width: calc(100% - 10%);
    height: 100%;
    background-color: #fceab6;
    border-bottom: 4px solid #aa3c3c;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-one > img{
    margin-top: 20px;
}

.card-one > h3{
    font-size:25px;
}

.card-one > p{
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
}


.card-two{
    width: calc(100% - 10%);
    height: 100%;
    background-color: #fceab6;
    border-bottom: 4px solid #aa3c3c;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-two > img{
    margin-top: 20px;
}

.card-two > h3{
    font-size:25px;
}

.card-two > p{
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
}

.card-three{
    width: calc(100% - 10%);
    height: 100%;
    background-color: #fceab6;
    border-bottom: 4px solid #aa3c3c;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-three > img{
    margin-top: 20px;
}

.card-three > h3{
    font-size:25px;
}

.card-three > p{
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
}